<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

<body>
  <%- body %>

  <script
    src="https://beaudar.lipk.org/client.js"
    repo="wss-git/wss-git"
    branch="main"
    issue-term="pathname"
    theme="github-light"
    crossorigin="anonymous"
    loading="false"
    async>
  </script>
</body>

</html>